<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PayPal Credit Card Payment">
    <meta name="author" content="Avi Das">

    <title>PayPal Credit Card Payment</title>

  </head>

  <body>

    <h2>Pay with Credit Card</h2>
    <div>
      <form action="/create_payment" method="POST" id="payment-form">
        <p>
          <label>Card Number</label>
          <input type="text" size="20" autocomplete="off" data-encrypted-name="number" placeholder="xxxx xxxx xxxx xxxx" />
        </p>
        <p>
          <label>CVV</label>
          <input type="text" size="4" autocomplete="off" data-encrypted-name="cvv" placeholder="" />
        </p>
        <p>
          <label>Expiration Date</label>
          <input type="text" size="2" name="month" placeholder="MM"  /> / <input type="text" size="4" name="year" placeholder="YYYY" />
        </p>
        <input type="submit" id="payment" value="Pay" />
      </form>
    </div>
  </body>
</html>